extends base

block vars
  - var title = 'Change Your Password'
  - var description = 'Change your password here.'
  - var bodytag = 'change-password'

block body
  .container.custom-container
    .va-wrapper
      .view.change-password-view

  script(type='text/javascript').
    var previousOnLoad = window.onload;

    window.onload = function () {
      previousOnLoad && previousOnLoad();

      var containerElement = document.getElementsByClassName('change-password-view')[0];

      stormpath.showChangePassword(containerElement);
    };