extends base

block vars
  - var title = 'Forgot Your Password?'
  - var description = 'Forgot your password? No worries!'
  - var bodytag = 'forgot-password'

block body
  .container.custom-container
    .va-wrapper
      .view.forgot-password-view

  script(type='text/javascript').
    var previousOnLoad = window.onload;

    window.onload = function () {
      previousOnLoad && previousOnLoad();

      var containerElement = document.getElementsByClassName('forgot-password-view')[0];

      stormpath.showForgotPassword(containerElement);
    };