extends base

block vars
  - var title = 'Password Reset Email Sent'
  - var description = 'Your password reset email has been sent!'
  - var bodytag = 'login'

block body
  .container.custom-container
    .va-wrapper
      .view.login-view.container
        .box.row
          .email-password-area.col-xs-12.large.col-sm-12
            .header
              span.
                Your password reset email has been sent!
              p.
                We have sent a password reset email to the email
                address you have provided.
              p.
                Please check your inbox to continue.
