extends base

block vars
  - var title = 'Password Change Complete'
  - var description = 'You have successfully changed your password!'
  - var bodytag = 'login'

block head
  meta(http-equiv='refresh' content="5; url=#{app.get('stormpathRedirectUrl')}")


block body
  .container.custom-container
    .va-wrapper
      .view.login-view.container
        .box.row
          .email-password-area.col-xs-12.large.col-sm-12
            .header
              span.
                Password Change Complete!
              p.
                Your password has been changed, and you have been logged into
                your account.  You will be redirected back to the site in 5
                seconds.
