button.btn.btn-saml(onclick='samlLogin()') SAML
script(type='text/javascript').
  function samlLogin() {
    var url = '#{stormpathConfig.web.saml.uri}';
    console.log('going to', url);
    window.location = url;
  }
