block vars
  - var title = 'Unauthorized'
  - var description = "You aren't authorized to view this page!"

block body
  .container
    .inner-container
      #unauthorized-view
        .header
          span.
            Unauthorized
          p.
            You are not authorized to view this page. Please check with the
            site administrator for help!

extends master