block vars
  - var title = 'Resend Account Verification Email?'
  - var description = 'Didn\'t receive your account verification email? No worries!'
  - var widgetMethod = 'showEmailVerification'

extends widget