<form class="form-horizontal" ng-controller="LoginFormCtrl" ng-submit="submit()">
  <div class="form-group">
    <label for="inputLogin3" class="col-sm-2 control-label">Login</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="inputLogin3" placeholder="Login" ng-model="formModel.username">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="formModel.password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <div ng-show="errorMessage" ng-bind="errorMessage" class="text-danger"></div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">

      <button type="submit" class="btn btn-default" ng-disabled="posting">Sign in</button>
      &nbsp;
      <span class="text-success" ng-show="posting">Logging in..</span>
    </div>
  </div>
</form>