<div class="row">
  <div class="col-sm-offset-4 col-xs-12 col-sm-4">
    <p ng-show="verifying" class="alert alert-warning text-center">We are verifying this link</p>
    <p class="alert alert-success" ng-show="reset">Your new password has been set.  Please <a ui-sref="login">Login Now</a>.</p>
    <div ng-show="showVerificationError" class="alert alert-danger">
      This password reset link is not valid.  You may request another
      link by <a ui-sref="passwordResetRequest">clicking here</a>.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form class="form-horizontal" ng-show="verified && !reset" ng-submit="submit()">

      <div class="form-group">
        <label for="spEmail" class="col-xs-12 col-sm-4 control-label">New Password</label>
        <div class="col-xs-12 col-sm-4">
          <input class="form-control" id="spUsername" ng-model="formModel.password" placeholder="New Password" type="password" ng-disabled="posting">
        </div>
      </div>
      <div class="form-group">
        <label for="spEmail" class="col-xs-12 col-sm-4 control-label">Confirm New Password</label>
        <div class="col-xs-12 col-sm-4">
          <input class="form-control" id="spUsername" ng-model="formModel.confirmPassword" placeholder="Confirm New Password" type="password" ng-disabled="posting">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <p class="alert alert-danger" ng-show="error" ng-bind="error"></p>
          <button type="submit" class="btn btn-primary" ng-disabled="posting">Set New Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
